/* Columns */

body {
	max-width: 960px;
	margin: 25px auto;
}

[_col] {
	float: left;
	margin-right: 15px;
	margin-bottom: 25px;
	padding-left: 10px;
}

[_col~="full"] {
	width: 100%;
}

[_col~="1/4"] {
	width: calc(25% - 25px);
}

[_col~="1/5"] {
	width: calc(20% - 25px);
}

[_col~="1/2"] {
	width: calc(50% - 25px);
}

[_col~="3/4"] {
	width: calc(75% - 25px);
}

[_col~="yellow"] {
	background: #F3CA16;
}

[_col~="pink"] {
	background: #EF214A;
}

[_col~="purple"] {
	background: #703454;
}

[_col~="teal"] {
	background: #068180;
}

[_col]:first-of-type {
	margin-right: 25px;
}

/* Typography */

body {
	font-family: 'Lato', sans-serif;

}

p {
	margin: 0;
}

em {
	text-transform: uppercase;
	text-decoration: underline;
	font-style: normal;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
}

ul {
	padding: 0;
	margin: 0;
}

[_text] {
	color: hsl(0,0%,13%);
	font-size: 100%;
	-webkit-font-smoothing: antialiased;
	margin: 0;
}

[_text~="page-head"], [_text~="title"] {
	color: hsl(0,0%,20%);
}

[_text~="page-head"] {
	font-size: 2.125em; /*34px*/
	/*line-height: 3.4375em; /*55px*/
	line-height: 2.62em;
	color: #fff;
	/*padding-left: 10px;*/
}

[_text~="title"] {
	font-size: 1.25em; /*20px*/
	line-height: 2em; /*32px*/
}

[_text~="body"] {
	font-size: 1em; /*16px*/
	line-height: 1.625em; /*26px*/
	text-align: justify;
}

[_text~="author"] {
	font-size: 0.875em; /*14px*/
	line-height: 1.4375em; /*23px*/
}

[_text~="quote"] {
	font-size: 1em; /*16px*/
	line-height: 1.625em; /*26px*/
	margin:  1.625em 1.625em 0;
	padding-left: 1em;
	font-style: italic;
	border-left: 2px solid #ccc;
}

/* Navigation */

[_nav] {
	font-size: 1.1em;
	line-height: 1.75em;
	font-weight: 700;
	text-transform: uppercase;
}

[_nav~="main"]:link, [_nav~="main"]:visited {
	color: hsl(0, 0%, 13%);
}

[_nav~="main"]:hover {
	color: hsl(0, 0%, 100%);
	background: hsl(0, 0%, 13%);
}

[_nav~="main"]:target, [_nav~="main"]:active {
	background: #F3CA16;
}

/* Images */

[_img] {
	max-width: 100%;
}

[_img~="logo"] {
	margin-bottom: 25px;
}