/* Columns */

body {
	max-width: 960px;
	margin: 25px auto;
}

[_col] {
	float: left;
	margin-right: 15px;
	margin-bottom: 25px;
	padding-left: 10px;
}

[_col~="full"] {
	width: 100%;
}

[_col~="1/4"] {
	width: calc(25% - 25px);
}

[_col~="1/5"] {
	width: calc(20% - 25px);
}

[_col~="1/2"] {
	width: calc(50% - 25px);
}

[_col~="3/4"] {
	width: calc(75% - 25px);
}

[_col~="yellow"] {
	background: #F3CA16;
}

[_col~="pink"] {
	background: #EF214A;
}

[_col~="purple"] {
	background: #703454;
}

[_col~="teal"] {
	background: #068180;
}

[_col~="green"] {
	background: #0EA642;
}

[_col~="black"] {
	background: hsl(0, 0%, 13%);
}

[_col]:first-of-type {
	margin-right: 25px;
}

[_col]:last-of-type {
	/*border-left: solid 1px hsl(0, 0%, 13%);*/
}

/* Typography */

body {
	font-family: 'Lato', sans-serif;

}

p {
	margin: 0;
}

em {
	text-transform: uppercase;
	text-decoration: underline;
	font-style: normal;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
}

ul {
	padding: 0;
	margin: 0;
}

[_text] {
	color: hsl(0,0%,13%);
	font-size: 100%;
	-webkit-font-smoothing: antialiased;
	margin: 0;
}

[_text~="page-head"], [_text~="title"] {
	color: hsl(0,0%,20%);
}

[_text~="page-head"] {
	font-size: 2.125em; /*34px*/
	/*line-height: 3.4375em; /*55px*/
	line-height: 2.62em;
	color: #fff;
	/*padding-left: 10px;*/
}

[_text~="title"] {
	font-size: 1.25em; /*20px*/
	line-height: 2em; /*32px*/
}

[_text~="body"] {
	font-size: 1em; /*16px*/
	line-height: 1.625em; /*26px*/
	text-align: justify;
	margin-bottom: 15px;
}

[_text~="body"] a:link, [_text~="body"] a:visited {
	color: hsl(0, 0%, 13%);
	border-bottom: solid 2px; 
}

[_text~="body"] a:hover, [_text~="body"] a:target,  [_text~="body"] a:active {
	color: hsl(0, 0%, 50%);
	border-bottom: solid 3px; 
}

[_text~="list"] {
	line-height: 1.5em;
	padding-bottom: 15px;
	/*font-weight: 700;*/
}

[_text~="list"] > li {
	margin-bottom: 10px;
}

[_text~="list"] > li a:link, [_text~="list"] > li a:visited {
	color: hsl(0, 0%, 100%);
	background: hsl(0, 0%, 13%);
	padding: 3px;
	/*transition: background .25s ease-in;*/
}

[_text~="list"] > li a:hover, [_text~="list"] > li a:target {
	background: hsl(0, 0%, 100%);
	color: hsl(0, 0%, 13%);
}

[_text~="list"] > li a:active {
	color: hsl(0, 0%, 100%);
	background: hsl(0, 0%, 13%);
}

[_text~="discussion"] > li {
	line-height: 1.3em;
	margin-bottom: 15px;
}

[_text~="discussion"] > li a:link,  [_text~="discussion"] > li a:visited{
	color: hsl(0, 0%, 13%);
	border-bottom: solid 2px;
}


[_text~="discussion"] > li a:hover {
	color: hsl(0, 0%, 33%);
	border-bottom: solid 2px;
}

[_text~="discussion"] > li a:link:first-of-type, [_text~="discussion"] > li a:visited:first-of-type {
	color: hsl(0, 0%, 100%);
	background: hsl(0, 0%, 13%);
	padding: 2px;
}

[_text~="discussion"] > li a:hover:first-of-type {
	color: hsl(0, 0%, 100%);
	background: hsl(0, 0%, 33%);
	padding: 2px;
}

[_text~="author"] {
	font-size: 0.875em; /*14px*/
	line-height: 1.4375em; /*23px*/
	color: #0EA642;
	padding-left: 10px;
	margin-bottom: 15px;
}

[_text~="quote"] {
	font-size: 1em; /*16px*/
	line-height: 1.625em; /*26px*/
	/*margin:  1.625em 1.625em 0;*/
	/*padding-left: 1em;*/
	/*font-style: italic;*/
	/*border-left: 2px solid #ccc;*/
}

[_text~="quote"]:before {
	content: '"';
	font-size: 1.5em;
	color: #0EA642;
}

[_text~="quote"]:after {
	content: '"';
	font-size: 1.5em;
	color: #0EA642;
}


[_text~="sidebar"] {
	transform: scale(.85);
}

/* Navigation */

[_nav] {
	font-size: 1.1em;
	line-height: 1.75em;

}

[_nav~="main"]:link, [_nav~="main"]:visited {
	font-weight: 700;
	text-transform: uppercase;
	color: hsl(0, 0%, 13%);
	/*transition: background .5s ease-in;*/

}

[_nav~="main"]:hover {
	color: hsl(0, 0%, 100%);
	background: hsl(0, 0%, 13%);
}

[_nav~="main"]:target, [_nav~="main"]:active {
	background: #F3CA16;
}

[_nav~="sidebar"]:link, [_nav~="sidebar"]:visited {
	margin-right: 10px;
	color: hsl(0, 0%, 33%);
}

[_nav~="sidebar"]:hover {
	color: hsl(0, 0%, 100%);
	background: hsl(0, 0%, 13%);
}

[_nav~="sidebar"]:target, [_nav~="sidebar"]:active {
	background: #F3CA16;
}

/* Images */

[_img] {
	max-width: 100%;
}

[_img~="logo"] {
	margin-bottom: 25px;
}

[_img~="sidebar"] {
	max-width: 85%;
	padding-top: 10px;
	padding-left: 15px;
}

[_img~="famous"] {
	margin: 15px 0;
}

/* Form */

[_form] {
	padding-bottom: 15px;
}

[_form] input {
	height: 10px;
}

[_form] input, [_form] textarea {
	padding: 10px;
	border: 0;
	background: #EEE;
	margin-bottom: 5px;
}

[_form] textarea {
	height: 100px;
}

[_form] button:hover {
	background: #0EA642;
}

[_form~="search"] input {
	width: calc(65% - 15px);
}

[_form~="search"] input:focus {
	background: #fff;
	outline: 0;
}

[_form~="search"] button {
	float: right;
	border: 0;
	padding: 0;
	cursor: pointer;
	height: 30px;
	width: 25%;
	color: hsl(0, 0%, 100%);
	text-transform: uppercase;
	background: hsl(0, 0%, 33%);
}


[_form~="discussion"] {
	float: right;
}

[_form~="discussion"] input, [_form~="discussion"] textarea {
	width: calc(100% - 25px);
}

[_form~="discussion"] input:focus, [_form~="discussion"] textarea:focus {
	background: #fff;
	outline: 0;
}


[_form~="discussion"] button {
	float: left;
	border: 0;
	padding: 0;
	cursor: pointer;
	height: 30px;
	width: 100%;
	color: white;
	text-transform: uppercase;
	background: hsl(0, 0%, 33%);
}


